.navbar-toggler {
    background-color: white;
}

.nav-scrollable {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto; /* allow nav to scroll if too tall */
}

/* make the nav a column flex container */
.nav {
    display: flex;
    flex-direction: column;
}

/* push this specific nav-item to the bottom */
.nav .push-bottom {
    margin-top: auto;
}

.top-row {
    max-height: 3.5rem;
    background-color: rgba(66, 66, 66, 0.25);
}

.navbar-brand {
    font-size: 1.1rem;
}

.logo-con{
    margin-left: 2rem;   
}

.logo-larsen {
    width: 120px;
    height: 80px;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
