@page "/projects/{ProjectId:int}"
@using Core
@using Client.Components;

<h3>Projekt detaljer</h3>

<ProjectRapport Project="@project" />

@code {
    [Parameter] public int ProjectId { get; set; }
    private Project? project;

    protected override void OnInitialized()
    {
        project = new Project
        {
            ProjectId = ProjectId,
            Name = $"Projekt {ProjectId}",
            DateCreated = DateTime.Now,
            TotalCostCustomer = 50000,
            TotalCostCompany = 35000,
            SvendTimePris = 300,
            LærlingTimePris = 150,
            KonsulentTimePris = 500,
            ArbejdsmandTimePris = 200
        };
    } 
}

