@page "/projects"
@using Client.Components
@using Core
@inject Client.Service.ProjectService ProjectService

<h3>ProjectPage</h3>

<ProjectsList Projects="@projectList"></ProjectsList>

@code {
    private List<Project> projectList = new()
    {
        new Project { ProjectId = 1, Name = "Gadehjørnet", DateCreated = DateTime.Now, ImageUrl = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIlhvbDjwW7Gw2hSZxizq3-tCnYYrMnOKChg&s"},
        new Project { ProjectId = 2, Name = "Projekt B", DateCreated = DateTime.Now.AddDays(-1) },
        new Project { ProjectId = 3, Name = "Projekt C", DateCreated = DateTime.Now.AddDays(-2), ImageUrl = "https://cdn.lecollectionist.com/__lecollectionist__/production/houses/8227/photos/gtXg1MPxR0OX20vODOZP_dfb8475e-1a67-470a-f745-e0db878bcc6e.jpg"}
    };

    protected override async Task OnInitializedAsync()
    {
        // Hent projekter fra server
        var fromApi = await ProjectService.GetProjects();

        if (fromApi != null)
        {
            // Tilføj dem til den eksisterende liste
            projectList.AddRange(fromApi);
        }
    }
}