@page "/projects/{ProjectId:int}"
@using Core
@using Client.Components;

<h3>Projekt detaljer</h3>

@*<ProjectRapport Project="@project" />*@

@code {
  /*  [Parameter] public int ProjectId { get; set; }
    private Project? project;

    protected override void OnInitialized()
    {
        // Dummy data
        project = new Project
        {
            ProjectId = ProjectId,
            Name = $"Projekt {ProjectId}",
            DateCreated = DateTime.Now.AddDays(-5),
            TotalCostCustomer = 50000,
            TotalCostCompany = 35000,
            SvendTimePris = 300,
            LærlingTimePris = 150,
            KonsulentTimePris = 500,
            ArbejdsmandTimePris = 200,
            Houses = new List<House>
            {
                new House
                {
                    Name = "Hus 1",
                    CostCustomer = 20000,
                    CostCompany = 14000,
                    Hours = 80,
                    InstallationCosts = new Dictionary<string, decimal>
                    {
                        { "Stikkontakter", 1000 },
                        { "Belysning", 2000 }
                    },
                    MaterialsUsed = new Dictionary<string,int>
                    {
                        { "Ledninger", 50 },
                        { "Stik", 20 }
                    }
                }
            }
        };*/
    } 
}

