
@using Core

<div class="table-container" style="max-width: 90%; margin: 2rem auto 72px;">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Projekt</th>
            <th>Oprettet</th>
            <th style="text-align: right; padding-right: 40px;">Handlinger</th>
        </tr>
        </thead>
        <tbody>
        @if (Projects != null && Projects.Any())
        {
            @foreach (var project in Projects)
            {
                <ProjectComponent Project="project" OnDelete="OnDelete" />
            }
        }
        </tbody>
    </table>
</div>

@code 
{
    [Parameter] public IEnumerable<Project>? Projects { get; set; }
    [Parameter] public EventCallback<int> OnDelete { get; set; }
}








@*@using Core


<div class="ads-grid">
    @if (Projects == null || !Projects.Any())
    {
        <p></p>
    }
    else
    {
        @foreach (var a in Projects)
        {
            <ProjectComponent Project="a" OnDelete="OnDelete" />
        }
    }
</div>

@code 
{
    [Parameter] public IEnumerable<Project>? Projects { get; set; }
    [Parameter] public EventCallback<int> OnDelete { get; set; }
}*@