@using Core
@inject NavigationManager Nav
@inject HttpClient http

<div class="create-page-back">
    <div class="create-con">
        <h3>Opret projekt</h3>

        <EditForm Model="@aProject" OnValidSubmit="OnClickCreate">
            
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="upload-grid">
                <div class="upload-box">
                    <label class="upload-title"><strong>Vælg time fil (.xls, .xlsx)</strong></label>
                    <div class="upload-area">
                        <InputFile OnChange="UploadFile" accept=".xls,.xlsx" />
                    </div>
                </div>

                <div class="upload-box">
                    <label class="upload-title"><strong>Vælg materiale fil (.xls, .xlsx)</strong></label>
                    <div class="upload-area">
                        <InputFile OnChange="MaterialUploadFile" accept=".xls,.xlsx" />
                    </div>
                </div>
            </div>

            <div class="form-floating-group">
                <InputText id="name" class="form-control" @bind-Value="aProject.Name" />
                <label for="name">Navn</label>
            </div>
                
            <div class="form-grid">
                <div class="form-floating-group">
                    <InputNumber id="svend" class="form-control" @bind-Value="aProject.SvendTimePris" />
                    <label for="svend">Svend sats</label>
                </div>
                <div class="form-floating-group">
                    <InputNumber id="lærling" class="form-control" @bind-Value="aProject.LærlingTimePris" />
                    <label for="lærling">Lærling sats</label>
                </div>
                <div class="form-floating-group">
                    <InputNumber id="konsulent" class="form-control" @bind-Value="aProject.KonsulentTimePris" />
                    <label for="konsulent">Konsulent sats</label>
                </div>
                <div class="form-floating-group">
                    <InputNumber id="arbejdsmand" class="form-control" @bind-Value="aProject.ArbjedsmandTimePris" />
                    <label for="konsulent">Arbejdsmand sats</label>
                </div>
            </div>
                
            <div class="">
                <div class="">
                    <button type="submit" class="opretbtn">Opret</button>
                </div>
            </div>
            
        </EditForm>
        
        
    </div>
</div>


@code {
    Project aProject = new();

    IBrowserFile? timeFile;
    IBrowserFile? materialeFile;

    public async Task UploadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var stream = file.OpenReadStream(10000000);

        using var content = new MultipartFormDataContent();
        content.Add(new StreamContent(stream), "file", file.Name);

        var result = await http.PostAsync("http://localhost:5028/api/uploadexcel", content);


    }

    public async Task MaterialUploadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var stream = file.OpenReadStream(10000000);

        using var content = new MultipartFormDataContent();
        content.Add(new StreamContent(stream), "file", file.Name);

        var result = await http.PostAsync("http://localhost:5028/api/materialuploadexcel", content);
    }


    private async Task OnClickCreate()
    {
        var response = await http.PostAsJsonAsync("http://localhost:5028/api/createproject", aProject);

        if (response.IsSuccessStatusCode)
        {
            var newProjectId = await response.Content.ReadFromJsonAsync<int>();

            if (timeFile != null)
            {
                await UploadFileToApi(timeFile, newProjectId, "api/uploadexcel");
            }

            if (materialeFile != null)
            {
                await UploadFileToApi(materialeFile, newProjectId, "api/materialuploadexcel");
            }

        }

        aProject = new();
        Nav.NavigateTo("/");
    }

    private async Task UploadFileToApi(IBrowserFile file, int projectId, string endpoint)
    {
        var stream = file.OpenReadStream(10000000);
        using var content = new MultipartFormDataContent();
        content.Add(new StreamContent(stream), "file", file.Name);

        await http.PostAsync($"http://localhost:5028/{endpoint}?projectId={projectId}", content);
    }
}