@using Client.Service
@using Core
@inject NavigationManager Nav
@inject HttpClient Http
@inject IProjectService ProjectService

<div class="create-page-back">
    <div class="create-con">
        <h3>Opret projekt</h3>

        <EditForm Model="@_project" OnValidSubmit="OnClickCreate">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="upload-grid">
                <div class="upload-box">
                    <label class="upload-title"><strong>Vælg time fil (.xls, .xlsx)</strong></label>
                    <div class="upload-area">
                        <InputFile OnChange="OnTimeFileChange" accept=".xls,.xlsx" />
                    </div>
                </div>

                <div class="upload-box">
                    <label class="upload-title"><strong>Vælg materiale fil (.xls, .xlsx)</strong></label>
                    <div class="upload-area">
                        <InputFile OnChange="OnMaterialFileChange" accept=".xls,.xlsx" />
                    </div>
                </div>
            </div>

            <div class="form-floating-group">
                <InputText id="name" class="form-control" @bind-Value="_project.Name"/>
                <label for="name">Navn</label>
            </div>
                
            <div class="form-grid">
                <div class="form-floating-group">
                    <InputNumber id="svend" class="form-control" @bind-Value="_project.SvendTimePris"/>
                    <label for="svend">Svend sats</label>
                </div>
                <div class="form-floating-group">
                    <InputNumber id="lærling" class="form-control" @bind-Value="_project.LærlingTimePris"/>
                    <label for="lærling">Lærling sats</label>
                </div>
                <div class="form-floating-group">
                    <InputNumber id="konsulent" class="form-control" @bind-Value="_project.KonsulentTimePris"/>
                    <label for="konsulent">Konsulent sats</label>
                </div>
                <div class="form-floating-group">
                    <InputNumber id="arbejdsmand" class="form-control" @bind-Value="_project.ArbjedsmandTimePris"/>
                    <label for="konsulent">Arbejdsmand sats</label>
                </div>
            </div>
                
            <div class="">
                <div class="">
                    <button type="submit" class="opretbtn">Opret</button>
                </div>
            </div>
            
        </EditForm>
        
        
    </div>
</div>


@code {
    private Project _project = new();
    
    private IBrowserFile timeFile;
    private IBrowserFile materialFile;

    private async Task OnClickCreate()
    {
        if(timeFile != null && materialFile != null)
        {
            // Kald vores service
            bool success = await ProjectService.CreateProject(_project, timeFile, materialFile);
            
            if(success)
            {
                Console.WriteLine("Projekt oprettet og filer læst!");
                Nav.NavigateTo("/"); 
            }
        }
        else 
        {
            Console.WriteLine("Husk at vælge begge filer");
        }
    }

    private void OnTimeFileChange(InputFileChangeEventArgs obj)
    {
        timeFile = obj.File;
    }

    private void OnMaterialFileChange(InputFileChangeEventArgs obj)
    {
        materialFile = obj.File;
    }
}