@using Core

@if (Projects is not null)
{
    @foreach (var p in Projects)
    {
        <article class="annonce-row" role="listitem">
            <div class="content">
                <h3 class="title">@p.Name</h3>
                <p>Oprettet: @p.DateCreated.ToShortDateString()</p>
            </div>

            <button class="btn mark-sold">Se mere</button>
        </article>
    }
}

@code {
    [Parameter] public IEnumerable<Project>? Projects { get; set; }
}
