.header-section h3 {
    text-align: center;
    margin-top: 5rem;
    font-size: 2.5rem;
}

.full-screen-center {
    display: flex;
    flex-direction: column; /* Stacks spinner and text vertically */
    justify-content: center; /* Vertical centering */
    align-items: center;     /* Horizontal centering */
    height: 80vh;            /* Uses 80% of viewport height to feel centered */
    text-align: center;
}