@page "/"
@using Client.Components.Projects
@using Core
@using Client.Service
@inject HttpClient Http
@inject NavigationManager Nav

<div class="admin-container">
    <div class="header-section">
        <h3>Alle projekter</h3>
    </div>

    @if (_projects == null)
    {
        <div class="loading-state full-screen-center">
            <div class="spinner-border text-primary" role="status"></div>
            <p>Indlæser projekter...</p>
        </div>
    }
    else if (!_projects.Any())
    {
        <div class="empty-state">
            <p>Ingen projekter fundet.</p>
        </div>
    }
    else
    {
        <ProjectGrid Projects="_projects" OnDelete="DeleteProject" />
    }
</div>


@code {
    private List<Project>? _projects;
    private int? _activeMenuId = null;

    protected override async Task OnInitializedAsync()
    {
        try 
        {
            _projects = await Http.GetFromJsonAsync<List<Project>>($"{Server.Url}/api/project");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fejl: {ex.Message}");
        }
    }
    // Slet projekt
    private async Task DeleteProject(int id)
    {
        var response = await Http.DeleteAsync($"{Server.Url}/api/project/{id}");

        if (response.IsSuccessStatusCode)
        {
            _projects = await Http.GetFromJsonAsync<List<Project>>($"{Server.Url}/api/project");
            _activeMenuId = null;
        }
    }
}
