@page "/"
@using Client.Components.Projects
@using Core
@using Client.Service
@inject HttpClient Http
<h3>Mine projekter</h3>


<section>
    @if (_projects.Count == 0)
    {
        <p>Ingen produkter</p>
    }
    else
    {
        <ProjectGrid Projects="_projects" OnDelete="DeleteProject"/>
    }
</section>


@code {
    private List<Project>? _projects = new();


    protected override async Task OnInitializedAsync()
    {
        _projects = await Http.GetFromJsonAsync<List<Project>>($"{Server.Url}project");
    }

    private async Task DeleteProject(int id)
    {
        // Sletter et specifik projekt via API'et
        await Http.DeleteAsync($"{Server.Url}project/{id}");
		
        // Henter den opdaterede liste, så hjemmeside opdateres bagefter
        _projects = await Http.GetFromJsonAsync<List<Project>>($"{Server.Url}project");
    }
   
}